*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

div{
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
}

div input{
    width: 270px;
    display: block;
    margin: 5px;
    outline: none;
    text-align: center;
    font-size: 50pt;
}

div button{
    width: 80px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px solid #000;
    background-color: #fababa;
}

div button:hover{
    background-color: #ff8383;
}