body{
    background-color: #b5ccff;
    font-family: sans-serif;
}

header{
    text-align: center;
    color: #fff;
}

section{
    width: 80%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #0000003d;
}   

section div:nth-child(1){
    margin-bottom: 30px;
}

input{
    width: 170px;
    font-size: 18px;
}

button{
    height: 26px;
}

select{
    width: 170px;
    height: 280px;
    display: block;
    font-size: 20px;
}

footer{
    text-align: center;
    font-style: italic;
    color: #fff;
}