body{
    font-family: sans-serif;
}

header{
    text-align: center;
    color: #fff;
}

section{
    width: 65%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #0000003d;
}   

section div{
    padding: 10px;
    text-align: center;
}

section img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer{
    text-align: center;
    font-style: italic;
    color: #fff;
}